.header {
  display: flex;
  &-container {
    &__img {
      width: 100%;
      @media screen and (max-width: 1024px) {
        width: 50%;

        img {
          width: -webkit-fill-available;
        }
      }
    }
    &__title {
      align-items: center;
      display: flex;
      font-size: 3rem;
      justify-content: center;
      text-align: center;
      text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #01e401,
      0 0 80px #01e401,
      0 0 90px #01e401,
      0 0 100px #01e401,
      0 0 150px #01e401;
     
      width: 100%;
      @media screen and (max-width: 1024px) {
        width: 50%;
        font-size: 1rem;
      }
    }
  }
}
